.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 70px;

    background:var(--background);

    border-bottom:1px solid var(--border);

    position:sticky;

    top:0;

    z-index:1000;
}

.logo a{

    font-size:1.7rem;

    font-weight:700;

    color:var(--primary);

    letter-spacing:.5px;
}

.nav-links{

    display:flex;

    gap:35px;
}

.nav-links a{

    color:var(--heading);

    font-weight:500;

    transition:.3s;
}

.nav-links a:hover{

    color:var(--primary);
}